.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.sidenav li {
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: rgba(255, 255, 255, 0.6); }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

ul {
  list-style-type: none;
  padding: 0;
  color: white; }

.lb {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 240px; }

.fa-angle-double-right {
  color: gold; }

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  background-color: black;
  background-image: url("../img/lifter-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100%;
  width: auto; }
  body h1, body h2 {
    font-weight: 700; }

body, html {
  height: 100%;
  margin: 0; }

.container {
  max-width: 100%; }

.row {
  max-width: 100%; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7); }

.social {
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 23%; }

.drive {
  margin-top: 25%;
  margin-bottom: auto; }

.title {
  font-size: 100px;
  color: white; }

.period {
  font-size: 150px; }

.sub-heading {
  color: white; }

.fa-angle-double-right {
  color: gold; }

.section_full {
  width: 100%;
  height: auto; }

.row {
  max-width: 100%; }

.container-fluid {
  padding: 0; }

.container {
  max-width: 100%;
  padding: 0; }
